@import url('/src/styles/fonts/fonts.css');
@import url('/src/styles/colors/colors.css');

.button {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: black;
}

.contained {
    background-color: currentColor;
    color: white;
    padding: 10px;
    border: none;
    box-shadow: var(--shadow-color) 0px 2px 5px;
    transition: box-shadow 0.2s ease-in-out;
}

.contained:hover {
    filter: brightness(0.95);
    box-shadow: var(--shadow-color) 0px 4px 7px;
}

.contained.primary {
    background-color: var(--primary-color);
}

.contained.secondary {
    background-color: var(--secondary-color);
}

.contained.success {
    background-color: var(--success-color);
}

.contained.error {
    background-color: var(--error-color);
}

.contained.warning {
    background-color: var(--warning-color);
}

.contained.info {
    background-color: var(--info-color);
}

.contained:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}

.contained:disabled:hover {
    filter: brightness(1);
    box-shadow: var(--shadow-color) 0px 2px 5px;
}

.outlined {
    background-color: white;
    padding: 9px;
    border: solid currentColor 1px;
    box-shadow: none;
}

.outlined.primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.outlined.secondary {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.outlined.success {
    border-color: var(--success-color);
    color: var(--success-color);
}

.outlined.error {
    border-color: var(--error-color);
    color: var(--error-color);
}

.outlined.warning {
    border-color: var(--warning-color);
    color: var(--warning-color);
}

.outlined.info {
    border-color: var(--info-color);
    color: var(--info-color);
}

.outlined:disabled {
    border-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}

.outlined:disabled:hover {
    background-color: transparent;
}

.text {
    background-color: transparent;
    padding: 10px;
    color: currentColor;
    border: none;
    box-shadow: none;
}

.text:hover {
    background-color: var(--onhover-darken-color);
}

.text.primary {
    color: var(--primary-color);
}

.text.secondary {
    color: var(--secondary-color);
}

.text.success {
    color: var(--success-color);
}

.text.error {
    color: var(--error-color);
}

.text.warning {
    color: var(--warning-color);
}

.text.info {
    color: var(--info-color);
}

.text:disabled {
    color: var(--disabled-text-color);
}

.outlined.primary:hover,
.text.primary:hover {
    background-color: var(--primary-color-hover)
}

.outlined.secondary:hover,
.text.secondary:hover {
    background-color: var(--secondary-color-hover);
}

.outlined.success:hover,
.text.success:hover {
   background-color: var(--success-color-hover);
}

.outlined.error:hover,
.text.error:hover {
    background-color: var(--error-color-hover);
}

.outlined.warning:hover,
.text.warning:hover {
    background-color: var(--warning-color-hover);
}

.outlined.info:hover,
.text.info:hover {
    background-color: var(--info-color-hover);
}


.outlined:disabled:hover,
.text:disabled:hover {
    background-color: transparent;
}

.small {
    height: 35px;
    font-size: 0.8rem;
}

.medium {
    height: 45px;
    font-size: 0.9rem;
}

.large {
    height: 50px;
    font-size: 1rem;
}
