@import url('/src/styles/colors/colors.css');
@import url('/src/styles/fonts/fonts.css');

.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.select {
    padding: 10px;
    border: 1px solid var(--disabled-text-color);
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}


.select:focus {
    padding: 9px;
    border: solid 2px var(--primary-color);
}

.label {
  position: absolute;
  top: 17px;
  left: 12px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: var(--disabled-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
  transition: 0.2s ease;
}

.label.focused {
    top: 5px;
    left: 10px;
    transform: translateY(-100%);
    font-size: 12px;
    color: var(--primary-color);
}

.helperText {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: var(--helper-text-color);
    margin: 2px 0 0 10px;
}

.helperText.focused {
    color: var(--error-color);
}

.options {
    display: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-color) 0px 0px 5px;;
    margin: 0;
}

.options.open {
    display: block;
}

.options > ul {
    margin: 0;
    padding: 0;
}

.options > ul > li {
    list-style: none;
    margin: 0;
    padding: 10px;
    font-family: 'Roboro', sans-serif;
    font-size: 14px;
}

.options > ul > li:hover {
    background-color: var(--hover-color);
}