:root {
    --primary-color: #42a5f5;
    --secondary-color: #ba68c8;
    --success-color: #4caf50;
    --error-color: #ef5350;
    --warning-color: #ff9800;
    --info-color: #03a9f4;
    --primary-color-hover: #42a4f528;
    --secondary-color-hover: #ba68c828;
    --success-color-hover: #4caf5028;
    --error-color-hover: #ef535028;
    --warning-color-hover: #ff980028;
    --info-color-hover: #03a9f428;
    --error-color-dark: #c62828;
    --primary-color-dark: #1565c0;
    --primary-color-dark-opacite: #1565c078;
    --hover-color: #F5F5F5;
    --helper-text-color: #9E9E9E;
    --checkbox-border-color: #616161;
    --disabled-text-color: #BDBDBD;
    --disabled-background-color: #E0E0E0;
    --shadow-color: rgba(0, 0, 0, 0.3);
}